{require_min_otp_vsn, "R15"}.
{erl_opts, [debug_info, {parse_transform, lager_transform},
{d,'NO_TRANSIENT_SUPERVISORS'},
              {d,'LAGER'},
              {i,"deps/json/include"},
              {i,"deps/apns/include"},
              {i,"deps/mongodb/include"},
   {src_dirs,[src,"deps/json/src","deps/uuid/src"]}]}.
   {sub_dirs,["rel"]}.
   {keep_build_info,true}.
   {deps,[
          {goldrush,".*",  {git,""}}
         ,{lager,".*",{git,""}}
         ,{mongodb,".*",{git,""}}
         ,{mysql,".*",{git,""}}
         ,{bson,".*",{git,""}}
         ,{apns,".*",{git,""}}
         ,{poolboy,".*",{git,""}}
]}.